.home-container {
    background-image: url('/1200x675_cmsv2_2c185cbc-34fc-592c-a663-fb0aa7a871f7-8787666 3 (1).png'); /* Ruta relativa a tu archivo CSS */
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    width: 100%; /* Ajusta el ancho al tamaño completo */
    height: 100vh; /* Ajusta la altura al tamaño completo de la pantalla */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
  }


.home-container h1{
  color: #F5F7FA;
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  text-align: center;
  cursor: default;
  margin-top: -70px;
}

.home-container span {
  position: absolute; /* Posición absoluta dentro del contenedor */
  bottom: 10px; /* Pegado al borde inferior del contenedor */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta el centrado */
  color: #F5F7FA;
  opacity: 0.6;
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-bottom: 50px;
  cursor: default;
}

@keyframes subtle-move {
  0% {
    transform: translateX(-50%) translateY(0); /* Posición inicial */
  }
  50% {
    transform: translateX(-50%) translateY(5px); /* Baja ligeramente */
  }
  100% {
    transform: translateX(-50%) translateY(0); /* Baja ligeramente */
  }
}

.home-container img {
  position: absolute; /* Posición absoluta dentro del contenedor */
  bottom: 10px; /* Pegado al borde inferior del contenedor */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta el centrado */
  color: #F5F7FA;
  text-align: center;
  width: 18px;
  opacity: 0.6;
  padding: 50px 100px 0px 100px;
  transition: transform 0.3s ease-in-out; /* Suaviza el movimiento */
}

.home-container img:hover {
  animation: subtle-move 0.7s forwards; /* Movimiento hacia abajo al hacer hover */
}

