.technology-container {
    font-family: 'Orbitron', sans-serif;
}

.advanced-materials {
    background-image: url('/materials.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.advanced-materials-text {
    padding-top: 180px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 690px;
    text-shadow: 0px 4px 13.7px #2651BE;
}

.advanced-materials-text h2 {
    font-size: 48px;

}

.advanced-materials-text p {
    font-size: 16px;
    font-weight: 400;
}


.command-control {
    background-image: url('/Group 7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.command-control-text {
    padding-top: 180px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 690px;
    text-shadow: 0px 4px 13.7px #2651BE;

}

.command-control-text h2 {
    font-size: 48px;

}

.command-control-text p {
    font-size: 16px;
    font-weight: 400;
}

.propulsion {
    background-image: url('/propulsion.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.propulsion-text {
    padding-top: 180px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 690px;
    text-shadow: 0px 4px 13.7px #2651BE;
}

.propulsion-text h2 {
    font-size: 48px;

}

.propulsion-text p {
    font-size: 16px;
    font-weight: 400;
}

.button-more {
    position: relative;
    /* Necesario para el pseudo-elemento */
    padding: 14px 40px;
    background-color: transparent;
    color: white;
    border: 2px solid #2651BE;
    border-radius: 2px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    ;
    overflow: hidden;
    /* Oculta el desbordamiento del pseudo-elemento */
    z-index: 1;
    /* Asegura que el texto del botón esté encima */
    transition: color 0.3s ease;
    /* Transición para el color del texto */
}

.button-more::before {
    content: "";
    position: absolute;
    top: 100%;
    /* Inicia fuera del botón, desde abajo */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2651BE;
    /* Color del hover */
    z-index: -1;
    /* Detrás del contenido del botón */
    transition: top 0.3s ease-in-out;
    /* Suaviza el movimiento */
}

.button-more:hover::before {
    top: 0;
    /* Llenado completo del fondo */
}

.metrics {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 140px;
    margin-bottom: 140px;
}

.metrics-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.metrics-title h2 {
    font-size: 48px;
    max-width: 510px;
    text-shadow: 0px 4px 13.7px #2651BE;
    font-weight: 400;
    margin: 0;
}

.metrics-title p {
    font-size: 16px;
    max-width: 500px;
}

.total-launches-info span {
    font-size: 44px;
    text-shadow: 0px 4px 13.7px #2651BE;
    border: 2px solid #F5F7FA;
    border-radius: 20px;
    padding: 14px 24px 14px 24px;

}

.total-launches-info span:nth-child(2) {
    margin-left: 10px;
}

.third-number {
    margin-left: 10px;
}

.total-launches-info span:last-child {
    font-size: 58px;
    padding: 0px 24px 10px 24px;
    margin-left: 10px;
}

.total-launches {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-metric {
    margin-top: 28px;
}

.text-metric-space {
    margin-top: 28px;
    max-width: 250px;
    text-align: center;
}

.metrics-info {
    display: flex;
    justify-content: space-around;
    margin-top: 140px;
}

@media (max-width: 1250px) {
    .total-launches-info span {
        font-size: 24px;
    }

    .total-launches-info span:last-child {
        font-size: 38px;
    }

    .text-metric {
        font-size: 14px;
    }

    .text-metric-space {
        font-size: 14px;
    }

    .metrics-title h2 {
        font-size: 38px;
    }

    .metrics-title p {
        font-size: 14px;
        max-width: 425px;
    }
}

@media (max-width: 1050px) {
    .total-launches-info span {
        font-size: 16px;
        padding: 14px 20px 14px 20px;
    }

    .total-launches-info span:last-child {
        font-size: 30px;
        padding: 0px 20px 10px 20px;
    }

    .text-metric {
        font-size: 14px;
    }

    .text-metric-space {
        max-width: 190px;
    }

    .metrics-title h2 {
        font-size: 30px;
        max-width: 350px;
    }

    .metrics-title p {
        font-size: 13px;
        max-width: 325px;
    }
}

@media (max-width: 950px) {
    .metrics-info {
        flex-direction: column;
        margin-top: 80px;
        gap: 30px;
    }

    .text-metric {
        margin-top: 18px;
    }

    .text-metric-space {
        margin-top: 18px;
    }

    .metrics-title h2 {
        font-size: 24px;
        max-width: 330px;
    }

    .metrics-title p {
        font-size: 12px;
        max-width: 275px;
    }
}

@media (max-width: 950px) {
    .metrics-title {
        flex-direction: column;
        gap: 30px;

    }

    .metrics-title h2 {
        font-size: 36px;
        max-width: 550px;
        text-align: center;
    }

    .metrics-title p {
        text-align: center;
        font-size: 16px;
        max-width: 600px;
    }


}

@media (max-width: 768px) {
    .advanced-materials-text {
        margin-left: 35px;
        margin-right: 35px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .command-control-text {
        margin-left: 35px;
        margin-right: 35px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .propulsion-text {
        margin-left: 35px;
        margin-right: 35px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .metrics {
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 140px;
        margin-bottom: 140px;
    }

    .metrics-title h2 {
        font-size: 32px;
        max-width: 550px;
        text-align: center;
    }

    .metrics-title p {
        text-align: center;
        font-size: 14px;
        max-width: 600px;
    }
}

@media (max-width: 425px) {
    .advanced-materials-text h2 {
        font-size: 38px;
    }

    .advanced-materials-text p {
        font-size: 14px;
    }

    .command-control-text h2 {
        font-size: 38px;
    }

    .command-control-text p {
        font-size: 14px;
    }

    .propulsion-text h2 {
        font-size: 38px;
    }

    .propulsion-text p {
        font-size: 14px;
    }
}